<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizu.oa.signRecord">

    <!-- 新增-->
    <insert id="insertSignRecord" parameterType="signRecordBean" useGeneratedKeys="true" keyProperty="id">
        insert into weizu_oa_sign_record(
            employee_id,
            team_id,
            latitude,
            longitude,
            distance,
            location_info,
            sign_type,
            sign_result,
            sign_day,
            app_id,
            sign_time,
            create_time
        ) values (
            #{employeeId},
            #{teamId},
            #{latitude},
            #{longitude},
            #{distance},
            #{locationInfo},
            #{signType},
            #{signResult},
            #{signDay},
            #{appId},
            now(),
            now()
        )
    </insert>

    <!-- 删除-->
    <delete id="deleteSignRecord" >
		delete from weizu_oa_sign_record where id = #{id}
	</delete>

    <!-- 修改 -->
    <update id="updateSignRecord" parameterType="signRecordBean">
		update  weizu_oa_sign_record
			set modify_time=now(),
				latitude = #{latitude},
				longitude = #{longitude},
				distance = #{distance},
				location_info = #{locationInfo},
				sign_type = #{signType},
				sign_day = #{signDay},
				sign_result = #{signResult}
			where
				id = #{id}
	</update>

    <!-- 查找  -->
    <select id="findSignRecordById" resultType="signRecordBean" parameterType="signRecordBean">
        select
        t.id,
        t.employee_id as employeeId,
        t.team_id as teamId,
        t.latitude as latitude,
        t.longitude as longitude,
        t.distance as distance,
        t.location_info as locationInfo,
        t.sign_type as signType,
        t.sign_result as signResult,
        t.sign_time as signTime,
        t.sign_day as signDay,
        t.create_time as createTime
        from weizu_oa_sign_record as t
        where
        id = #{id}

    </select>

    <!-- 查找  -->
    <select id="findSignRecordByCondition" resultType="signRecordBean" parameterType="signRecordBean">
        select
        t.id,
        t.employee_id as employeeId,
        t.team_id as teamId,
        t.latitude as latitude,
        t.longitude as longitude,
        t.distance as distance,
        t.location_info as locationInfo,
        t.sign_type as signType,
        t.sign_result as signResult,
        t.sign_time as signTime,
        t.sign_day as signDay,
        t.create_time as createTime
        from weizu_oa_sign_record as t where 1=1
        <if test="employeeId != null">
            and employee_id = #{employeeId}
        </if>
        <if test="teamId != null">
            and team_id = #{teamId}
        </if>
        <if test="appId != null">
            and app_id = #{appId}
        </if>
        <if test="queryStartTime != null">
            and sign_time > #{queryStartTime}
        </if>
        <if test="queryEndTime != null">
            and sign_time  &lt; #{queryEndTime}
        </if>
        order by sign_time
    </select>


    <!-- 列表后台查询页面 -->
    <select id="getAllSignRecordlistPage" parameterType="page" resultType="pd">
        select
        t.id,
        t.employee_id as employeeId,
        t.team_id as teamId,
        t.latitude as latitude,
        t.longitude as longitude,
        t.distance as distance,
        t.location_info as locationInfo,
        t.sign_type as signType,
        t.sign_result as signResult,
        t.sign_time as signTime,
        t.sign_day as signDay,
        t.create_time as createTime
        from weizu_oa_sign_record as t where 1=1
        <if test="pd.name != null and pd.name != ''"><!-- 用户名检索 -->
            and t.location_info LIKE CONCAT(CONCAT('%', #{pd.name}),'%')
        </if>
        <if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
            and t.create_time &gt;= #{pd.lastLoginStart}
        </if>
        <if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
            and t.create_time &lt;= #{pd.lastLoginEnd}
        </if>
        <if test="pd.appId!=null and pd.appId!=''"><!-- appId -->
            and app_id = #{pd.appId}
        </if>
    </select>

</mapper>