<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizu.addressLook">
	
	<!-- 新增-->
	<insert id="inserAddressLook" parameterType="addressLookBean">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into weizu_address_book(
			 user_name,
			 mobile_phone,
			 sex,
			 head_image,
			 office_phone,
			 surname_id,
			 remark,
			 create_time,
			 modify_time
		) values (
			#{userName},	
			#{mobilePhone},	
			#{sex},
			#{headImage},
			#{officePhone},
			#{surnameId},
			#{remark},
			now(),
			now()
		)
	</insert>
	
	<!-- 删除-->
	<delete id="deleteAddressLook" >
		delete from weizu_address_book where id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="updateAddressLook" parameterType="addressLookBean">
		update  weizu_address_book
			set modify_time=now(),
				user_name = #{userName},
				mobile_phone = #{mobilePhone},
				surname_id = #{surnameId},
				sex = #{sex},
				head_image = #{headImage},
				office_phone = #{ officePhone},
				remark = #{remark}
			where 
				id = #{id}
	</update>
	
	<!-- 查找通讯录  -->
	<select id="findAddressLookById" resultType="addressLookBean" parameterType="addressLookBean">
		select
			bk.id,
			bk.user_name as userName,
			bk.mobile_phone as mobilePhone,
			bk.sex,
			bk.surname_id as surnameId,
			bk.head_image as headImage,
			bk.office_phone as officePhone,
			bk.remark as remark,
			bk.create_time as createTime
		from weizu_address_book as bk
		where 
			id = #{id}
		<if test="userName != null">
			and user_name = #{userName}
		</if>
	</select>
	
	<!-- 查找通讯录  -->
	<select id="findAddressLookByCondition" resultType="addressLookBean" parameterType="addressLookBean">
		select
		    bk.id,
			bk.user_name as userName,
			bk.mobile_phone as mobilePhone,
			bk.sex,
			bk.surname_id as surnameId,
			bk.head_image as headImage,
			bk.office_phone as officePhone,
			bk.remark as remark,
			bk.create_time as createTime
		from weizu_address_book bk left
		join weizu_surname su on bk.surname_id = su.id
		where 1=1
		<if test="surnameId != null">
			and su.id = #{surnameId}
		</if>
		<if test="userName != null">
			and bk.user_name = #{userName}
		</if>
		<if test="mobilePhone != null">
			and bk.mobile_phone = #{mobilePhone}
		</if>
	</select>
	
	<!-- 获取所有通讯录信息 -->
	<select id="getAllAddressLook" resultType="addressLookBean">
		select
		    bk.id,
			bk.user_name as userName,
			bk.mobile_phone as mobilePhone,
			bk.sex,
			bk.surname_id as surnameId,
			bk.head_image as headImage,
			bk.office_phone as officePhone,
			bk.remark as remark,
			bk.create_time as createTime
		from weizu_address_book as bk
	</select>
	
	<!-- 列表后台查询页面 -->
	<select id="getAllAddressLooklistPage" parameterType="page" resultType="pd">
		select
			bk.id,
			bk.user_name as userName,
			bk.mobile_phone as mobilePhone,
			bk.sex,
			bk.surname_id as surnameId,
			su.surname as surname,
			bk.head_image as headImage,
			bk.office_phone as officePhone,
			bk.remark as remark,
			bk.create_time as createTime
		from weizu_address_book bk left
		join weizu_surname su on bk.surname_id = su.id
		where 1 = 1		
		<if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 用户名检索 -->
			and bk.user_name LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and bk.create_time &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and bk.create_time &lt;= #{pd.lastLoginEnd}
		</if>
	</select>
	
</mapper>