<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizu.addressLookAuth">
    <!-- 新增-->
    <insert id="insertAuthRequest" parameterType="addressLookAuthRequestBean">
		insert into weizu_address_book_request(
			 user_id,
			 nick_name,
			 request_info,
			 before_info,
			 surname,
			 status,
			 app_id,
			 create_time
		) values (
			#{userId},
			#{nickName},
			#{requestInfo},
			#{beforeInfo},
			#{surname},
			0,
			#{appId},
			now()
		)
	</insert>

    <!-- 列表后台查询页面 -->
    <select id="getAllAuthRequestlistPage" parameterType="page" resultType="pd">
        select
        request.id,
        request.user_id as userId,
        request.nick_name as nickName,
        request.surname as surname,
        us.gender as gender,
        request.request_info as requestInfo,
        request.before_info as beforeInfo,
        us.avatar_url as avatarUrl,
        request.status as status,
        request.app_id as appId,
        request.create_time as createTime
        from weizu_address_book_request request
        left join weizu_user us on request.user_id = us.id
        where 1 = 1
        <if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 用户名检索 -->
            and request.nick_name LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
        </if>
        <if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
            and request.create_time &gt;= #{pd.lastLoginStart}
        </if>
        <if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
            and request.create_time &lt;= #{pd.lastLoginEnd}
        </if>
        <if test="pd.appId!=null and pd.appId!=''"><!-- appId -->
            and request.app_id = #{pd.appId}
        </if>
        order by request.create_time desc
    </select>
</mapper>