<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.weizu.fundNetWorth">

    <!-- 新增-->
    <insert id = "insertFundNetWorth" parameterType = "fundNetWorthBean">
        insert into weizu_fund_net_worth(
        fund_id,
        net_worth,
        worth_date,
        day_growth,
        expect_worth_Date,
        expect_worth,
        expect_growth
        )values(
        #{fundId},
        #{netWorth},
        #{worthDate},
        #{dayGrowth},
        #{expectWorthDate},
        #{expectWorth},
        #{expectGrowth}
        )
    </insert>

    <!-- 删除-->
    <delete id="deleteFundNetWorth" >
        delete from weizu_fund_net_worth where id = #{id}
    </delete>

    <delete id="deleteFundNetWorthByFundId" >
        delete from weizu_fund_net_worth where fund_id = #{id}
    </delete>

    <!-- 修改-->
    <update id="updateFundNetWorth" parameterType="fundNetWorthBean">
        update weizu_fund_net_worth
        set modify_time=now()
        <if test="fundId != null">
            ,fund_id=#{fundId}
        </if>
        <if test="netWorth != null">
            ,net_worth = #{netWorth}
        </if>
        <if test="worthDate != null and worthDate != ''">
            ,worth_date = #{worthDate}
        </if>
        <if test="dayGrowth != null">
            ,day_growth = #{dayGrowth}
        </if>
        <if test="expectWorthDate != null and expectWorthDate != ''">
            ,expect_worth_Date = #{expectWorthDate}
        </if>
        <if test="expectWorth != null">
            ,expect_worth = #{expectWorth}
        </if>
        <if test="expectGrowth != null">
            ,expect_growth = #{expectGrowth}
        </if>
        where
        id = #{id}
    </update>

    <!-- 查询所有-->
    <select id="findAllFundNetWorthByCondition" resultType="fundNetWorthBean" parameterType="fundNetWorthBean">
        select
        fund.id as id,
        fund.fund_id as fundId,
        fund.net_worth as netWorth,
        fund.worth_date as worthDate,
        fund.day_growth as dayGrowth,
        fund.expect_worth_Date as expectWorthDate,
        fund.expect_worth as expectWorth ,
        fund.expect_growth as expectGrowth
        from weizu_fund_net_worth as fund
        where 1 = 1
        <if test="fundId != null and fundId != ''">
            and fund.fund_id = #{fundId}
        </if>
    </select>
</mapper>