<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.weizu.fund">

    <!-- 新增-->
    <insert id = "insertFund" parameterType = "fundBean">
        insert into weizu_fund(
        code,
        name,
        type,
        manager,
        fund_scale,
        last_month_growth,
        last_three_month_growth,
        last_six_month_growth,
        last_year_growth,
        buy_min,
        buy_rate
        )values(
        #{code},
        #{name},
        #{type},
        #{manager},
        #{fundScale},
        #{lastMonthGrowth},
        #{lastThreeMonthGrowth},
        #{lastSixMonthGrowth},
        #{lastYearGrowth},
        #{buyMin},
        #{buyRate}
        )
    </insert>

    <!-- 删除-->
    <delete id="deleteFund" >
        delete from weizu_fund where id = #{id}
    </delete>

    <!-- 修改-->
    <update id="updateFund" parameterType="fundBean">
        update weizu_fund
        set modify_time=now()
        <if test="code != null and code != ''">
            ,code=#{code}
        </if>
        <if test="name != null and name != ''">
            ,name = #{name}
        </if>
        <if test="type != null and type != ''">
            ,type = #{type}
        </if>
        <if test="manager != null and manager != ''">
            ,manager = #{manager}
        </if>
        <if test="fundScale != null">
            ,fund_scale = #{fundScale}
        </if>
        <if test="lastMonthGrowth != null">
            ,last_month_growth = #{lastMonthGrowth}
        </if>
        <if test="lastThreeMonthGrowth != null">
            ,last_three_month_growth = #{lastThreeMonthGrowth}
        </if>
        <if test="lastSixMonthGrowth != null">
            ,last_six_month_growth = #{lastSixMonthGrowth}
        </if>
        <if test="lastYearGrowth != null">
            ,last_year_growth = #{lastYearGrowth}
        </if>
        <if test="buyMin != null">
            ,buy_min = #{buyMin}
        </if>
        <if test="buyRate != null">
            ,buy_rate = #{buyRate}
        </if>
        where id = #{id}
    </update>

    <!-- 查询-->
    <select id="findFundById" resultType="fundBean" parameterType="fundBean">
        select
            fund.id as id,
            fund.code as code,
            fund.name as name,
            fund.type as type,
            fund.manager as manager,
            fund.fund_scale as fundScale,
            fund.last_month_growth as lastMonthGrowth,
            fund.last_three_month_growth as lastThreeMonthGrowth,
            fund.last_six_month_growth as lastSixMonthGrowth,
            fund.last_year_growth as lastYearGrowth,
            fund.buy_min as buyMin,
            fund.buy_rate as buyRate
        from weizu_fund as fund
        where
        id = #{id}
    </select>

    <!-- 查询-->
    <select id="findFundByCondition" resultType="fundBean" parameterType="fundBean">
        select
            fund.id as id,
            fund.code as code,
            fund.name as name,
            fund.type as type,
            fund.manager as manager,
            fund.fund_scale as fundScale,
            fund.last_month_growth as lastMonthGrowth,
            fund.last_three_month_growth as lastThreeMonthGrowth,
            fund.last_six_month_growth as lastSixMonthGrowth,
            fund.last_year_growth as lastYearGrowth,
            fund.buy_min as buyMin,
            fund.buy_rate as buyRate
        from weizu_fund as fund
        where 1=1
        <if test="code != null and code != ''">
            and fund.code = #{code}
        </if>
    </select>

    <!-- 获取所有信息返回到前台列表页面-->
    <select id="getAllFundListPage" resultType="pd" parameterType="page">
        select
        fund.id as id,
        fund.code as code,
        fund.name as name,
        fund.type as type,
        fund.manager as manager,
        fund.fund_scale as fundScale,
        fund.last_month_growth as lastMonthGrowth,
        fund.last_three_month_growth as lastThreeMonthGrowth,
        fund.last_six_month_growth as lastSixMonthGrowth,
        fund.last_year_growth as lastYearGrowth,
        fund.buy_min as buyMin,
        fund.buy_rate as buyRate
        from weizu_fund as fund
        where 1 = 1
        <if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 用户名检索 -->
            and fund.name LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
        </if>
    </select>

    <!-- 批量删除-->
    <delete id="deleteAllU" parameterType="String">
        delete from weizu_fund where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
          #{item}
        </foreach>
    </delete>
</mapper>


