<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizu.userLocation">
		
	<!-- 新增-->
	<insert id="insertLocation" parameterType="userInfoBean">
		insert into weizu_location(
			 user_id,
			 latitude,
			 longitude,
			 location_info,
			 create_time
		) values (
			#{userId},	
			#{latitude},	
			#{longitude},
			#{locationInfo},
			now()		
		)
	</insert>
	
	<!-- 获取所有用户最近的位置信息 -->
	<select id="getAllUserLatelyLocaitons" resultType="userLocationMarkerBean">
		select la.id as id,
			 la.latitude as latitude,
			 wu.nick_name as name,
			 la.longitude as longitude,
			 wu.avatar_url as iconPath 
		from 
			weizu_location la left join weizu_user wu on la.user_id=wu.id 
			where la.id in(select max(id) from weizu_location group by user_id)
	</select>
	
</mapper>