<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizu.user">
	
	
	<!-- 新增-->
	<insert id="inserWeiZuUser" parameterType="userInfoBean">
		insert into weizu_user(
			 avatar_url,
			 city,
			 country,
			 gender,
			 language,
			 nick_name,
			 province,
			 open_id,
			 create_time,
			 modify_time
		) values (
			#{avatarUrl},	
			#{city},	
			#{country},
			#{gender},		
			#{language},	
			#{nickName},	
			#{province},
			#{openId},
			now(),
			now()
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="deleteUser" >
		delete from weizu_user where open_id = #{openId}
	</delete>
	
	
	<!-- 修改 -->
	<update id="updateUserByOpenId" parameterType="userInfoBean">
		update  weizu_user
			set 
				avatar_url = #{avatarUrl},
				city = #{city},
				province = #{province},
				country = #{country},
				nick_name = #{nickName},
				modify_time = now()
			where 
				open_id = #{openId}
	</update>
	
	<!-- 修改 -->
	<update id="updateUserById" parameterType="userInfoBean">
		update  weizu_user
			set 
				avatar_url = #{avatarUrl},
				city = #{city},
				province = #{province},
				country = #{country},
				nick_name = #{nickName},
				rights = #{rights},
				modify_time = now()
			where 
				id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findUserById" resultType="userInfoBean">
		select 
			 id as id,
			 avatar_url as avatarUrl,
			 city as city,
			 country as country,
			 gender as gender,
			 language as language,
			 nick_name as nickName,
			 province as province,
			 open_id as openId,
			 rights as rights,
			 manager_rights as managerRights
		from 
			weizu_user
		where 
			id = #{id}
	</select>
	
	<!-- 通过openId获取数据 -->
	<select id="findUserByOpenId" resultType="userInfoBean">
		select 
			 id as id,
			 avatar_url as avatarUrl,
			 city as city,
			 country as country,
			 gender as gender,
			 language as language,
			 nick_name as nickName,
			 province as province,
			 open_id as openId,
			 rights as rights,
			 manager_rights as managerRights
		from 
			weizu_user
		where 
			open_id = #{openId}
	</select>

	<!--获取所有没有访问权限的用户-->
	<select id="getAllUserNoAuth" resultType="userInfoBean">
		select
			 id as id,
			 avatar_url as avatarUrl,
			 city as city,
			 country as country,
			 gender as gender,
			 language as language,
			 nick_name as nickName,
			 province as province,
			 open_id as openId,
			 rights as rights,
			 manager_rights as managerRights
		from
			weizu_user
		where nick_name is not null and nick_name!='' and (rights is null or rights='')
	</select>
	
	<!-- 列表后台查询页面 -->
	<select id="getAllUserInfolistPage" parameterType="page" resultType="pd">
		select 
			 id as id,
			 avatar_url as avatarUrl,
			 city as city,
			 country as country,
			 gender as gender,
			 language as language,
			 nick_name as nickName,
			 province as province,
			 open_id as openId,
			 rights as rights,
			 create_time as createTime,
			 modify_time as modifyTime
		from 
			weizu_user
		where 1 = 1		
		<if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 用户名检索 -->
			and nick_name LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and create_time &gt;= #{pd.lastLoginStart} 
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and create_time &lt;= #{pd.lastLoginEnd} 
		</if>
	</select>
		
	
</mapper>